.aperture {
  height: 5em;
} 

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5em;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-text {
  font-size: large;
}

.App-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-form select {
  margin-bottom: 2em;
  font-size: large;
}

.App-form button {
  background-color: #f2fcff;
  border: 2px solid #07daf2;
  border-radius: 50%;
  padding: 5px;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
